/* =Media
-----------------------------------------------------------------------------*/

/* Responsive images and other embedded objects */
img,
video {
	max-width: 100%;
	height: auto;
}
img {
	-ms-interpolation-mode: bicubic;
}
audio {
	width: 100%;
}

.video-wrapper {
	height: 0;
	padding-bottom: 56.25% !important; /* ratio 16:9 */
	position: relative;
	margin-bottom: @baseLine/@em;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
